<!--
 * @Author: your name
 * @Date: 2019-12-03 16:49:56
 * @LastEditTime: 2019-12-03 18:48:25
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \ng-official-demo\client\src\app\heroes\hero-list\hero-list.component.html
 -->
<div class="jumbotron">
  <h1 class="display-3">Hero List</h1>
</div>

<mat-list>
  <mat-list-item *ngFor="let hero of heroes$; let key = index" [class.active]="hero.id === selectedId" [routerLink]="['/hero', hero.id]">
    {{hero.id}} -- {{hero.name}}
  </mat-list-item>
</mat-list>
