<div class="container">
    <nav class="nav">
      <a class="nav-link"routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
      <a class="nav-link" routerLink="/heroes" routerLinkActive="active">Heroes</a>
      <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
      <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      <a name="" id="" class="btn btn-info" [routerLink]="[{outlets:{popup:['compose']}}]" role="button">Contact</a>
      <a name="" id="" class="btn btn-success" [routerLink]="['/reactive-form']" role="button">Reactive Form</a>
    </nav>
    <router-outlet></router-outlet>
    <!-- <router-outlet name="popup"></router-outlet>

    <app-reactive-form [questions]="questions"></app-reactive-form>

    <app-ad-banner [ads]="ads"></app-ad-banner> -->
    
</div>
