<!--
 * @Author: your name
 * @Date: 2019-12-03 16:49:56
 * @LastEditTime: 2019-12-03 18:57:07
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \ng-official-demo\client\src\app\heroes\hero-detail\hero-detail.component.html
 -->

<div class="form-group">
  <label for="">上传文件</label>
  <input type="file" class="form-control-file" (change)="uploadFile($event)" name="file" />
</div>


<p>
  {{hero$?.id}} -- {{hero$?.name}}
</p>
<button mat-raised-button type="button" (click)="gotoHeroes(hero$)">返回</button>